body{
    font-family: Arial;
    width: 900px;
    margin:auto;
    background-color: #fcfcfc;
}


.titulo {
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 15px;
}

.datos {
    background-color: #f8fafc; 
    border: 2px solid #e2e8f0;
    border-radius: 5px;
    padding: 15px 20px;
}

.datos ul {
    margin: 5px;
    padding-left: 20px;
}

.contenedor{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.contenedor h2{
    font-size: 32px;
    margin: 0 20px 30px;
}

.imagen{
    width:300px;
    text-align: center;
}

.imagen img{
    width:100%;
    height:300px;
    border:1px solid black;
    object-fit:contain;
    border-radius: 10px;
}

.metricas{
    margin-top:30px;
    display:flex;
    justify-content:space-around;
}

.caja{
    border:1px solid black;
    padding:20px;
    width:150px;
    text-align:center;
    margin-bottom: 10px;
}

#selector {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

#kB_Original, #kB_Comprimido, #reduccion {
    font-size: 25px;
    margin-bottom: 10px;
    color: #004cff;
}